/* CHAOS THEME */
.Appfalse {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, rgba(50,0,0,1) 50%, rgba(0,0,0,1) 100%);
}
/* MINIMALISTIC THEME */
.Apptrue {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(666deg, rgba(255,255,255,1) 50%, rgba(0,0,0,1) 100%);
  background-size: 200% 200%;
  animation: gradMove 5s ease infinite normal forwards;
}

@keyframes gradMove {
  0% {
    background-position:100% 100%;
  }

  50% {
    background-position:0% 0%;
  }

  100% {
    background-position:100% 100%;
  }
}