.About {
    left: 6rem;
    top: 3rem;
    position: fixed;

    .Path {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 180px;
        height: 180px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        transform: rotate(0deg);
        transition: transform 0.7 linear;

        .RotatingShape {
            position: absolute;
            width: 80px;
            height: auto;
            transform: rotate(0deg);
            transition: tranform 0.7s linear;
            top: -40px;
            left: 110px;
        }

        .PrimaryShape {
            width: 120px;
            height: auto;
            filter: invert(100%);
            transition: filter 0.5s ease-in-out;
            position: absolute;
        }

        .PrimaryShape:hover {
            filter: invert(0%);
        }
    }
}

/*
.Shape {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid black;
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    background: rgb(172,255,0);
    background: radial-gradient(circle, rgba(172,255,0,0.4514180672268907) 0%, rgba(0,0,255,0) 35%, rgba(255,123,123,0.4206057422969187) 100%);
    transition: filter 0.5s ease-in-out;
    -webkit-box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 1);
}

.Shape:hover {
    filter: invert(0%);
    -webkit-filter: invert(0%);
} */