.entity {
    position: absolute;
    width: 780px;
    height: 780px;
    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper {
        position: absolute;
        width: 600px;
        height: 600px;
        z-index: 15;

        .logo {
            position: absolute;
            object-fit: contain;
            width: 100%;
            height: 100%;
            scale: 1;
            animation: shake 2s ease 0s infinite normal forwards;
            filter: hue-rotate(0deg);
            transition: scale 0.7s ease-in-out;
        }

        .logo:hover {
            scale: 1.1;  
        }
    }

    .path {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 780px;
        height: 780px;
        z-index: 13;
        border: 1px solid rgba(255, 255, 255, 0.4);
        
        transform: rotate(var(--angle));
        animation: rotation 10s linear 0s infinite normal forwards, blur 2s linear 0s infinite normal forwards;

        .rotatingElementWrapper {
            position: absolute;
            width: 100px;
            height: 100px;
            margin: 0px 0px 0px 0px;
            opacity: 0%;
            transition: margin 1.3s ease-in-out, opacity 1.3s linear;
            z-index: 20;
            .rotatingElement {
                object-fit: contain;
                width: 100%;
                height: 100%;
                opacity: 66%;
            }
        }
    }

    .path2 {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 780px;
        height: 780px;
        opacity: 10%;
        z-index: 12;
        
        transform: rotate(var(--angle));
        animation: rotationBackwards 30s linear 0s infinite normal forwards;

        .rotatingElementWrapper {
            position: absolute;
            width: 500px;
            height: 500px;
            margin: 0px 0px 0px 0px;
            opacity: 0%;
            transition: margin 1.3s ease-in-out, opacity 1.3s linear;
            .rotatingElement {
                object-fit: contain;
                width: 100%;
                height: 100%;
            }
        }
    }


    /*.addImg {
        position: absolute; 
        display: flex;
        justify-content: center;
        align-items: center; 
        width: inherit;
        height: inherit;
        animation: septagram 10s linear 0s infinite normal backwards;
        .septagram {
            object-fit: contain;
            width: 100%;
            height: 100%;
            
        } 
    }*/
}

.entity:hover .path .rotatingElementWrapper {
    margin: 0px 0px 550px 550px;
    opacity: 100%;
}

.entity:hover .path2 .rotatingElementWrapper {
    margin: 0px 0px 1000px 1000px;
    opacity: 100%;
}


/* ANIMATIONS */

@keyframes rotation {
    0% {
        transform: rotate(var(--angle));
    }

    100% {
        transform: rotate(calc(var(--angle) + 360deg));
    }
}

@keyframes rotationBackwards {
    0% {
        transform: rotate(var(--angle));
    }

    100% {
        transform: rotate(calc(var(--angle) + -360deg));
    }
}

/*@keyframes septagram {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}*/

@keyframes pulsation {
    0% {
		opacity: 0;
		transform: scale(1);
	}

    50% {
        opacity: 0.7;
        transform: scale(1.05);
    }

	100% {
		opacity: 0;
		transform: scale(1.1);
	}
}

@keyframes shake {
    0% {
		transform: translate(0);
	}

	10% {
		transform: translate(-4px, -4px);
	}

	20% {
		transform: translate(4px, -4px);
	}

	30% {
		transform: translate(-4px, 4px);
	}

	40% {
		transform: translate(4px, 4px);
	}

	50% {
		transform: translate(-4px, -4px);
	}

	60% {
		transform: translate(4px, -4px);
	}

	70% {
		transform: translate(-4px, 4px);
	}

	80% {
		transform: translate(-4px, -4px);
	}

	90% {
		transform: translate(4px, -4px);
	}

	100% {
		transform: translate(0);
	}
}

@keyframes blur {
    0% {
        filter: blur(0px);
    }

    5% {
        filter: blur(0px);     
    }

    10% {
        filter: blur(0px); 
    }

    15% {
        filter: blur(5px);       
    }

    20% {
        filter: blur(0px);    
    }

    25% {
        filter: blur(10px);    
    }

    30% {
        filter: blur(0px);       
    }

    35% {
        filter: blur(0px);      
    }

    40% {
        filter: blur(0px);        
    }

    45% {
        filter: blur(0px);      
    }

    50% {
        filter: blur(0px);      
    }

    55% {
        filter: blur(5px);        
    }

    60% {
        filter: blur(0px);       
    }

    65% {
        filter: blur(0px);         
    }

    70% {
        filter: blur(0px);         
    }

    75% {
        filter: blur(5px);              
    }

    80% {
        filter: blur(0px);      
    }

    85% {
        filter: blur(10px);      
    }

    90% {
        filter: blur(5px);   
    }

    95% {
        filter: blur(10px);     
    }

    100% {
        filter: blur(0px);
    }
}
